<!--The whole content below can be removed with the new code.-->
<p>{{error | async}}</p>
<p>log: {{log | async}}</p>
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
</div>
<ul class="heroes">
  <li *ngFor="let user of users | async">
    <span>name: {{user.name}}</span>
    <span>age: {{user.age}}</span>
    <button (click)="delete(user.id)">X {{user.id}}</button>
  </li>
</ul>

<label>Name</label>
<input #name type="text" />
<label>Age</label>
<input #age type="number" />
<button (click)="create(name, age)">New</button>